<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR 404</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">

    <h1>
        error <a>404</a>
    </h1>
    <p>
        Sorry, but the page you were trying to view does not exist
    </p>
    <p class="output">
        you can return to the <a href="http://darknesswave.ru" style="color:#fff">[home page]</a>
    </p>

</div>

</body>
</html>