<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DARKNESSWAWE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>



    </style>
</head>
<body>
    
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
        <div>
            <h1>DARKNESSWAWE</h1>
            <div class="output">Hello, i'm artem biryukov </div>
            <p>i'm mobile developer</p>
            <p>novice information cecurity specialist</p>
            <p>application tester</p>
        </div>
           
        <div class="social">
            <a href="https://github.com/ARTEMfisher" target="_blank">
                <i class="fa-brands fa-github fa-3x" aria-hidden="true"></i>
            </a>

            <a href="https://t.me/L0Iic0n" target="_blank">
                <i class="fa-brands fa-telegram fa-3x" aria-hidden="true"></i>
            </a>

            <a href="https://vk.com/artemfish" target="_blank">
                <i class="fa-brands fa-vk fa-3x" aria-hidden="true"></i>
            </a>

            <a href="mailto:artem.biryukov16@yandex.ru">
                <i class="fa-solid fa-envelope fa-3x" aria-hidden="true"></i>
            </a>


        </div>
        
        
       
        
        
    
    </div>
    
    
</body>
</html>
